@charset "UTF-8";
totara-frontpage-list .banner {
  background-image: url("http://192.168.1.24:8888/img/totara/logo_frontpage_background.png");
  background-size: 100%;
  margin-bottom: 20px;
  background-color: white;
  width: 100vw;
}

totara-frontpage-list .banner .imageHolder {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 90vw;
}

totara-frontpage-list .banner .imageHolder img {
  width: 100%;
  content: url("http://192.168.1.24:8888/img/totara/logo_frontpage.png");
}
